{% extends 'layout.html' %}

{% block title %}Payments{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel = "stylesheet">

    <title>Payments</title>
</head>
<body>
<h2>PAYMENTS</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tenants</th>
            <th>House</th>
            <th>Amount Expected(Kshs)</th>
            <th>Amount Paid(Kshs)</th>
            <th>Balance</th>
            <th>Year</th>



        </tr>
    </thead>
    <tbody>
        {% for item in value %}
            <tr class="active-row">
                <td>{{item.id}}</td>
                <td>{{item.tenant_name}}</td>
                <td>{{item.house_number}}</td>
                <td>{{item.expected_amount}}</td>
                <td>{{item.paid_amount}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.year}}</td>

            </tr>
        {% endfor %}
    </tbody>

</table>

</body>
</html>
{% endblock %}